
.usersContainer {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  height: 500px;
  width: 500px;
  border: 5px solid black;

  //border-color:  black;
  background: #61dafb;
}